{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <link rel="stylesheet" type="text/css" href="/css/dashboard/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <header>
        <div class="navbar">
            <a id="nav-icon" onclick="divInteraction()"><i class="fa fa-bars"></i></a>
            <a href="https://heartdevs.com/" target="_blank"><img src="/images/he4rt-logo-white.png" alt="he4rt-logo"></a>
        </div>
    </header>

    <div id="mySideNav" class="sidenav">
        <a href="">Dashboard</a>
        <a class="sign-out" href="">Sign out</a>
    </div>

    <div class="container">
        Logged in

        {% if successfully_logged %}
            {{ successfully_logged }}
        {% endif %}

    </div>

    {% block javascripts %}
        <script src="/js/dashboard/main.js"></script>
    {% endblock %}
{% endblock %}