body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9864cc;
    padding: 0 1em;
}

.navbar a {
    color: #ffffff; 
}

.navbar a:hover {
    filter: invert(1);
}

.container {
    display: flex;
}

img {
    width: 10em;
    height: 3.125em;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #9864cc; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 8px 0 5px -5px #888;
}
  
/* The navigation menu links */
.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #000000;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.sign-out {
    position: fixed;
    bottom: 0;
}